.element__like-active {
  background-image: url("../../../images/heard-black.png");
  background-color: transparent;
  border: none;
  height: 19px;
  width: 22px;
  outline: none;
  padding: 0;
  transition: opacity .2s linear;
  background-size: cover;
}
gergergerg
.element__like-active:hover {
  opacity: .6;
}